body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow-y: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innercontainer{
  margin: 0 200px;
  max-width: 1000px;
}

.dark{
    background-color: #1f2937;
}

.grey{
    background-color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin-bottom: 100px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links>ul {
    display: flex;
    gap: 10px;
}

.header-links li {
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1f2937;
    margin: 100px 0;
}

.rightupper,
.leftupper {
    display: flex;
    flex-basis: 50%;
}

.leftupper{
    flex-direction: column;
    background-color: #1f2937;
}

.rightupper{
    background-color: rgb(109 116 125);
    justify-content: center;
    align-items: center;
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary{
font-size: 18px;
color: #e5e7eb;
}

.signup-button.top{
    align-self: flex-start;
}

.signup-button{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.info-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
}

.img{
    width: 120px;
    height: 120px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
}
.imgtext{
    max-width: 100px;
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 10;
    color: #1f2937;
}

.quote-author{
    font-size: 28px;
    font-weight: 1000;
    align-self: flex-end;
}

.signup{
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
}